.card {
  border: 1px solid #f8f8f8;
  border-radius: 40px;
  padding: 20px;
  max-width: 200px;
  max-height: 280px;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  flex-grow: 1;


  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  .favourite {
    position: absolute;
    cursor: pointer;
  }

  .sneakerDescription {
    font-weight: 400;
    font-size: 14px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    border: none;

    .cardBottomText {
      display: flex;
      flex-direction: column;
      padding: 0 0 5px 0;
    }

    .addButton {
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      cursor: pointer;
      height: 32px;
      width: 32px;
      opacity: 0.6;
      background: none;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }

      &:before, &:after {
        position: absolute;
        content: ' ';
        height: 11px;
        width: 1px;
        background-color: #333;
      }

      &:before {
        transform: rotate(90deg);
      }
    }

    .price {
      text-transform: uppercase;
      color: #BDBDBD;
    }
  }
}

.tickMark {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  opacity: 0.6;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);

  &:before {
    position: absolute;
    left: 12%;
    top: 42%;
    height: 30%;
    width: 3px;
    background-color: #ffffff;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
  }

  &:after {
    position: absolute;
    left: 12%;
    bottom: 9px;
    height: 3px;
    width: 55%;
    background-color: rgb(255, 255, 255);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1)
  }
}

.heartUnliked {
  position: absolute;
  width: 45px;
  height: 40px;

  &:hover {
    transform: translateY(-2px);
  }
}

.heartUnliked:before, .heartUnliked:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 20px;
  height: 30px;
  background: #fccaca;
  border-radius: 20px 20px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  margin: 5px;
}

.heartUnliked:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.cardImage {
  width: 133px;
  height: 112px;
}