
.wrapper {
  max-width: 1080px;
  left: 85px;
  top: 85px;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
}

.content {

  .contentUpper {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }


  .sneakers {
    display: grid;
    grid-template-rows: 4fr 4fr;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: 10px;
    row-gap: 15px;
    align-content: center;
    justify-items: center;
  }
}

