@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Inter';
  background-color: aliceblue;
}


.wrapper {
  max-width: 1080px;
  left: 85px;
  top: 85px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  position: absolute;
  width: 350px;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .closeButton {
    border: none;
    background: none;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
  }

  .cartBottomText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;
  }

  .orderButton {
    border: none;
    background: none;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
  }
}

.drawerCartName {
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerAll {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #dedede;

  .headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cartMoney {
      padding: 0 20px 0 5px;
    }
  }

  .headerLeft {
    display: flex;
    align-content: center;
    margin-bottom: 15px;

    .headerInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 15px;

      .reactSneakers {
        text-transform: uppercase;
        margin: 0;
        padding: 0;

      }

      .sneakerShop {
        margin: 0;
        padding: 0;
        color: rgba(63, 63, 63, 0.6);
      }
    }
  }
}

.content {

  .contentUpper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      border: 1px solid rgba(182, 180, 180, 0.75);
      border-radius: 40px;
      padding: 5px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 170px;
      max-height: 40px;

      .searchInput {
        border: none;
        padding: 5px;
        opacity: 50%;
      }
    }
  }


  .card {
    border: 1px solid #f8f8f8;
    border-radius: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 280px;
    margin: 0 0 40px 0;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }

    .favourite {
      position: absolute;
      cursor: pointer;
    }

    .sneakerDescription {
      font-weight: 400;
      font-size: 14px;
    }

    .cardBottom {
      display: flex;
      justify-content: space-between;
      border: none;

      .cardBottomText {
        display: flex;
        flex-direction: column;
        padding: 0 0 5px 0;
      }

      .addButton {
        padding: 0;
        background: #FFFFFF;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        cursor: pointer;
        height: 32px;
        width: 32px;
      }

      .price {
        text-transform: uppercase;
        color: #BDBDBD;

      }
    }
  }

}

.sneakers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //мне не очень нравится что здесь после последней карточки есть отступ и получается несеммитрично
}
.cartItems{
  overflow: auto;
}

.cartItem {
  display: flex;
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 20px;

  .cartItemImg {
    max-width: 80px;
    max-height: 60px;
    padding: 0 10px 0 0;
  }

  .cartItemDescription {
    display: flex;
    flex-direction: column;

    .cartItemName {
      margin: 0;
      padding: 0;
    }
  }
}
