@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Inter';
  background-color: aliceblue;
}


.wrapper {
  max-width: 1080px;
  left: 85px;
  top: 85px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
}

.headerAll {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #dedede;

  .headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cartMoney {
      padding: 0 20px 0 5px;
    }
  }

  .headerLeft {
    display: flex;
    align-content: center;
    margin-bottom: 15px;

    .headerInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 15px;

      .reactSneakers {
        text-transform: uppercase;
        margin: 0;
        padding: 0;

      }

      .sneakerShop {
        margin: 0;
        padding: 0;
        color: rgba(63, 63, 63, 0.6);
      }
    }
  }
}

.content {

  .contentUpper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      border: 1px solid rgba(182, 180, 180, 0.75);
      border-radius: 40px;
      padding: 5px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 170px;
      max-height: 40px;

      .searchInput {
        border: none;
        padding: 5px;
        opacity: 50%;
      }
    }
  }


  .sneakers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
}
