@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import "styles/main";


body {
  font-family: 'Inter';
  background-color: aliceblue;
  box-sizing: border-box;
  outline: none
}

