@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Inter';
  background-color: aliceblue;
}

.wrapper {
  max-width: 1080px;
  left: 85px;
  top: 85px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
}

.headerAll {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #dedede;

  .headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cartMoney {
      padding: 0 20px 0 5px;
    }
  }

  .headerLeft {
    display: flex;
    align-content: center;
    margin-bottom: 15px;

    .headerInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 15px;

      .reactSneakers {
        text-transform: uppercase;
        margin: 0;
        padding: 0;

      }

      .sneakerShop {
        margin: 0;
        padding: 0;
        color: rgba(63, 63, 63, 0.6);
      }
    }
  }
}

.content {

  .card {
    border: 1px solid #f8f8f8;
    border-radius: 40px;
    padding: 20px;
    width: 220px;
    height: 280px;
    margin: 0 0 40px 0;

    .sneakerDescription {
      font-weight: 400;
      font-size: 14px;
    }

    .cardBottom {
      display: flex;
      justify-content: space-between;

      .cardBottomText {
        display: flex;
        flex-direction: column;
      }

      .addButton {
        padding: 0;
        background: #FFFFFF;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        cursor: pointer;
        height: 32px;
        width: 32px;
      }

      .price {
        text-transform: uppercase;
        color: #BDBDBD;
      }
    }
  }
}

.sneakers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //мне не очень нравится что здесь после последней карточки есть отступ и получается несеммитрично
}