@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import "styles/main";


body {
  font-family: 'Inter';
  background-color: aliceblue;
  box-sizing: border-box;
  outline: none
}


.wrapper {
  max-width: 1080px;
  left: 85px;
  top: 85px;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
}